<div class="container-2" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="5px">

    <div class="child-2" fxFlex="30" fxFill>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, nulla?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, dolores.
    </div>
  
    <div class="child-2" fxFlex fxFill fxLayout="column" fxLayoutAlign="center center">
      <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quaerat voluptatum qui. Fugit atque praesentium iure? Adipisci ut a officia iusto hic ratione perferendis quo enim. Culpa vitae eos praesentium.</div>
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, unde. Tempora excepturi pariatur quia beatae nulla consequuntur quas similique illo odit, facere ipsum ab praesentium nam sapiente aspernatur dignissimos deleniti?</div>
    </div>
  </div>
  


<div class="container-2" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="2px">

  <div class="child-2" fxFlex="25">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto assumenda animi eaque doloribus totam ex quisquam, magni praesentium consequuntur deleniti facilis tenetur cupiditate accusamus alias illo maiores, consectetur earum nisi. Enim deleniti id qui magnam nihil dolorum animi accusamus magni rem corrupti omnis eius perspiciatis, labore error repellendus est fuga, cumque, ea et. Assumenda debitis ut sequi aliquid nihil in at quidem eligendi laudantium possimus, nisi itaque illum. Vitae quam deleniti ea ut delectus inventore facere neque impedit architecto enim, deserunt sequi voluptas est, alias aspernatur! Culpa consequatur inventore, reprehenderit fugit ratione perspiciatis repellendus dolorum aperiam animi saepe impedit nam.
  </div>

  <div class="child-2" fxFlex>

  </div>

</div>

<div class="container-2" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="2px">
  <div class="child-2" fxFlex>
    Lorem ipsum dolor sit amet.
  </div>

  <div fxFlex="40" class="child-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>

  
  <div class="child-2" fxFlex="30">
    Lorem ipsum dolor sit.
  </div>

  <div class="child-2" fxFlex="5">
    Lorem, ipsum dolor.
  </div>

  <div class="child-2" fxFlex="25">
      Lorem ipsum dolor sit.
    </div>

  <div class="child-2" fxFlex>
      Lorem ipsum dolor sit amet.
  </div>
</div>

<h1>3</h1>
<div class="container-2" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div class="child-2" fxFlex="20%"   *ngFor="let item of data |  keyvalue" fxLayout fxLayoutAlign="center center" >
      {{item.key}}
    </div>
</div>

<h1>2</h1>
<div class="container-1" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div class="child" *ngFor="let item of data |  keyvalue" fxLayout fxLayoutAlign="center center" >
      {{item.key}}
    </div>
</div>

<h1>1</h1>
<div class="container" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="5px ">
  <div class="child" *ngFor="let item of data |  keyvalue" fxLayout fxLayoutAlign="center center" >
    {{item.key}}
  </div>
</div>


