.container{
    background: beige;
    height: 300px;
}

.container-1{
    background: lavender;
    height: 400px;
}

.container-2{
    background: khaki;
    height: 400px;
    margin: 5px;
}

.child{
    background: darkorange;
    width: 200px;
    height: 100px;
    color:ghostwhite;
    border-radius: 5px;
    margin-top:2px;
}

.child-2 {
    background: mediumseagreen;
    color:ghostwhite;
    text-align: justify;
    min-height: 100px;
    border-radius: 5px;
    margin-top:2px;
    padding: 5px;
}



