<div fxLayout="row wrap">
  
  <div fxLayout="row wrap" fxFlex="100">
    <div fxFlex="25" fxShow.gt-md></div>
    <div fxFlex="100" fxFlex.gt-md='50' style="background:goldenrod; height: 100px;" fxLayout="row wrap" fxLayoutAlign="center center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, ad?
    </div>
    <div fxFlex="25" fxShow.gt-md> </div>
  </div>

  <div fxLayout="row wrap" fxFlex="100">
    <div fxFlex="25" fxShow.gt-md></div>
    <div fxFlex="100" fxFlex.gt-md='50' style="background:goldenrod; height: 100px;" fxLayout="row wrap" fxLayoutAlign="center center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque dignissimos enim repudiandae?
    </div>
    <div fxFlex="25" fxShow.gt-md> </div>
  </div>



</div>