<div class="container">
    <div class="sub-container">
  
      <div class="box" style="background:orange">
        <div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, qui.
        </div>
        <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, exercitationem.
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, dolore.
        </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolorum!</div>
      </div>
  
      <div class="box" style="background:whitesmoke; color:navy">
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptatibus!
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, recusandae.</div>
        <div>Lorem ipsum dolor sit amet.</div>
      </div>
  
      <div class="box" style="background:green">
        <div>Lorem ipsum dolor sit amet.</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, commodi?</div>
        <div>Lorem ipsum dolor sit amet.</div>
      </div>
  
    </div>
  </div>