<div class="container" fxLayout="row wrap" fxLayoutAlign="center center" >
    
  <div fxFlex="100" fxFlex.gt-md='50' fxLayout="column" >
      <div style="background:goldenrod" fxLayout="row" fxLayoutAlign="center center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, repellendus.
      </div>

      <div style="background:dimgray" fxLayout="row" fxLayoutAlign="center center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, obcaecati.
      </div>

      <div style="background:rebeccapurple" fxLayout="row" fxLayoutAlign="center center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, cum.
      </div>

      <div style="background:deeppink" fxLayout="row" fxLayoutAlign="center center">
          Lorem ipsum dolor sit amet.
      </div>
  </div>
</div>