
<div class="container" fxLayout="row wrap"  fxLayoutAlign="start start" fxLayoutGap="2px">

  <div class="child"  fxFlex fxFlex.lt-lg-="100" fxLayout="row"  fxLayoutAlign="center center">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, minima?
  </div>

  <div class="child"  fxFlex fxFlex.lt-lg="100" fxLayout="row" fxLayoutAlign="center center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, maxime.
  </div>

  <div class="child"  fxFlex fxFlex.lt-lg="100" fxLayout="row" fxLayoutAlign="center center">
    Lorem ipsum dolor sit amet.
  </div>

</div>